html  
  head
    title Mon site web
  body
    h1 A propos
    p.
        Nam incurreret e deserunt, culpa ne est 
        duis nostrud. Si magna e multos nam si 
        sint amet veniam singulis. Quibusdam 
        elit probant. Doctrina ad quae eu 
        aliquip se doctrina. Consequat esse 
        expetendis. Malis laboris commodo. 
        Commodo dolor elit quamquam labore quo 
        varias expetendis e fugiat enim ea ita 
        iudicem concursionibus qui enim ex ad 
        malis litteris.