doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Phd Management')
        meta(name='author', content='Mourad Hrm')
        title Phd Management - NodeJS, Pug and Neo4j
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/core.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/components.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/icons.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/pages.css')
        //link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/font-awesome.min.css')
        script(src='/bootstrap-3.3.7-dist/js/jquery-3.1.1.min.js')
        script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    body.widescreen
        block content